
body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;;
}
h1{
    font-size: 50px;
    font-weight: 700;
}
h2{
    font-size: 30px;
}
p{
    color: #816f6f;
    line-height: 1.4;
}
.coral-color{
    color:coral
}
.link-btn{
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 20px;
    color: white;
    background-image: linear-gradient(#FBA24F, #FF1E1E);
}
.flex-content{
    display: flex;
}
.half-width{
    width: 40%;
    margin: 0 4%;
    padding: 0 4%;
}
.half-width img{
    width: 100%;
}

/* header area  */
.header-area{
    padding:100px 0;
}
.header-area p{
    margin-bottom: 40px;
    font-size: 18px;
}
.distance{
    margin-bottom: -40px;
}

/* about area  */
.about-area{
    padding-top: 50px;
    margin-bottom: 100px;
    background-image: url("images/7.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.about-area h2{
    margin-top: 60px;
}
.about-area p{
    margin-bottom: 100px;
}

/* recipes area  */
.recipes-area{
    padding-bottom: 60px;
}
.recipes-info{
    width: 600px;
    margin: 0 auto;
    padding-bottom: 50px;
    text-align: center; 
}
.single-box{
    width: 335px;
    margin: 0 auto;
    padding: 16px;
    border-radius: 20px;
    box-shadow: 10px 10px 40px grey;
}
.single-box img{
    width: 337px;
    height: 256px;
}

/* social area  */
.social-area{
    width: 80%;
    margin: 0 auto;
    padding: 40px;
    text-align: center;
    box-shadow: 10px 10px 30px grey;
    border-radius: 20px;
}
.social-content{
    width: 34%;
}
.social-content h5{
    margin-top: -15px;
    color: #817c7cce;
}

/* service area  */
.service-area{
    text-align: center;
    padding: 50px;
    margin-top: 150px;
    background-image: url("images/58.jpg");
    background-repeat: no-repeat;
}
.service-info{
    width: 33.3%;
    padding: 50px;
    margin: 50px 16px;
    border: 1px solid #d3c4c4;
    border-radius: 10px;
}

/* team area  */
.team-area{
    padding:70px 50px;
    text-align: center;
    background-image: url("images/58.jpg");
    background-repeat: no-repeat;
}
.team-info{
    width: 25%;
    padding: 5px;
    margin: 50px 10px 0 10px;
    border-radius: 5px;
}
.team-info img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.team-info h5{
    margin-top: -16px;
    color:#817c7cce
}

/* footer area  */
footer{
    padding: 50px;
    background-color: #0B0D17;
    text-align: center;
}

.network-color{
    color:#7e77aa;
}